<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org">
		<head>
			<title>POS | Product</title>
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
            <link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet" type="text/css"/>
            <link th:href="@{../css/bootstrap.min.css}" href="../static/css/bootstrap.min.css"  rel="stylesheet" type="text/css"/>
			<link th:href="@{../css/style.css}" href="../static/css/style.css"  rel="stylesheet" type="text/css"/>
			<link th:href="@{../css/style_peg.css}" href="../static/css/style_peg.css"  rel="stylesheet" type="text/css"/>
			<link th:href="@{../css/style_prod.css}" href="../static/css/style_prod.css"  rel="stylesheet" type="text/css"/>
			<!--for fa icon-->

            <script type="text/javascript" th:src="@{../js/script.js}"></script>
        </head>
										<!--==========head.end==========-->
		<body>
		<!--==========header.start==========-->
		<div class="container-fluid">
			<div class="row">
				<div class="header">
					<div class="col-xs-3 col-md-2 col-lg-2 logo">
						<a th:href="@{#}"> <img src="../images/BliBli.png" th:src="@{../images/BliBli.png}" class="logo"/></a>
					</div>
					<div class="col-xs-7 col-md-6 col-lg-6 judul" >
						<h1>POS Blibli</h1>
					</div>
					<div class="col-xs-2 col-md-4 col-lg-4 user">
						<i class="fa icon-user" onmouseover="openNav()" onmouseout="closeNav()">&#xf2be;</i>
						<div class="identitas">
							<h5 id="name">Nama / ID :SUTARTO/1011</h5>
							<h5 id="role-text">Role :Admin</h5>
						</div>
						<div id="dr-down" onmouseover="openNav()" onmouseout="closeNav()">
							<div class="segitiga">
								<p>sgt</p>
							</div>
							<div class="dropdown-avatar">
								<ul>
									<li><a id="drop_u1" th:href="@{#}"><i class="fa">&#xf007;</i> Akun</a></li>
									<li><a id="drop_u2" th:href="@{#}"><i class="material-icons">&#xe879;</i> Keluar</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--==========header.end==========-->
		<div class="container">
			<!--==========navigation.start==========-->
			<div class="row">
				<div class ="col-xs-12 navigation">
					<a href="#"><i class="fa" id="home-icon"> &#xf015;</i></a>
					<i class="fa">&#xf105;</i>
					<a href="#" id="pos">Produk</a>
				</div>
			</div>
			<!--==========navigation.end==========-->
			<div class="row">
				<!--==========sidebar.start==========-->
				<div class ="col-md-2 col-lg-2 sidebar">
					<!--icon reference https://www.w3schools.com/icons/icons_reference.asp-->
					<div class="toggle">
						<h3>Menu</h3> <i class="fa menu" aria-hidden="true">&#9776;</i>
					</div>
					<ul>
						<li>
							<a id="sid_1" href="#"><i class="fa">&#xf19c;</i> Minimarket</a>
						</li>
						<li>
							<a id="sid_2" href="#"><i class="fa">&#xf0c0;</i> Pegawai</a>
						</li>
						<li>
							<div class="dropdown"><a id="sid_3"><i class="fa">&#xf288;</i> Produk</a>
								<div class="dropdown-content" id="dr-produk">
									<a id="drop_p1" href="#">Kategori</a>
									<a id="drop_p2" href="#">Kelola Produk</a>
								</div>
							</div>
						</li>
						<li>
							<a id="sid_4" href="#"><i class="fa">&#xf1b3;</i> Stok</a>
						</li>
						<li>
							<a id="sid_5" href="#"><i class="fa">&#xf217;</i> Transaksi</a>
						</li>
						<li>
							<a id="sid_6" href="#"><i class="fa">&#xf02c;</i> Promo</a>
						</li>
						<li>
							<li>
								<div class="dropdown"><a id="sid_7"><i class="fa">&#xf080;</i> Laporan</a>
									<div class="dropdown-content" id="dr-laporan">
										<a id="drop_p1" href="#">Transaksi</a>
										<a id="drop_p2" href="#">Statistik</a>
									</div>
								</div>
							</li>
						</li>
					</ul>
				</div>
				<!--==========sidebar.end==========-->
				<!--==========content.start==========-->
				<div class="col-md-10 col-lg-10 content">
					<br />
                    <div class="form-inline" th:object="${form}">
                        <input class="form-control src" name="search" placeholder="ID atau Nama Produk..."
                               type="text" />
                        <button type="button" class="btn btn-success" id="btn-export">Export</button>
                    </div>
					<br />
                    <!--Table-->
                    <div class="col-md-12 col-lg-12">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Kode</th>
                                    <th>Nama</th>
                                    <th>Kategori</th>
                                    <th>Deskripsi</th>
                                    <th>Stok</th>
                                    <th>Harga</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="prod : ${product}">
                                    <tr>
                                        <td th:text="${prod.productId}" />
                                        <td th:text="${prod.name}"/>
                                        <td th:text="${prod.categoryId}"/>
                                        <td th:text="${prod.description}"/>
                                        <td th:text="${prod.quantity}"/>
                                        <td th:text="${prod.price}"/>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--end of table-->
                    <!--Button tambah ubah hapus-->
                    <br />
                    <div class="col-xs-12 col-md-12 col-lg-12" id="three-button">
                        <div class="col-xs-4 col-md-4 col-lg-4">
                            <button type="button" class="btn btn-success" id="btn-tambah" onclick="openTambah()">Tambah</button>
                        </div>
                        <div class="col-xs-4 col-md-4 col-lg-4">
                            <button type="button" class="btn btn-warning" id="btn-ubah" onclick="openUbah()">Ubah</button>
                        </div>
                        <div class="col-xs-4 col-md-4 col-lg-4">
                            <button type="button" class="btn btn-danger" id="btn-hapus" onclick="openHapus()">Hapus</button>
                        </div>
                    </div>
                    <!--Akhir Button tambah ubah hapus-->
                    <!--Aksi tambah-->
                    <div class="col-xs-6 col-md-6 col-lg-6 aksi" id="aksi-tambah">
                        <i class="fa" id="btn-close" onclick="closeTambah()">&#xf00d;</i>
                        <br />
                        <form class="form-horizontal" th:form="${form}" th:object="${product}" th:action="@{/createProduct}"  method="post">
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label class="control-label" for="nama">Nama :</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="nama" placeholder="Nama Produk" name="nama" th:value="${name}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label class="control-label" for="categoryId">KategoriIDuBAH :</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="categoryId" placeholder="UBAH NANTI" name="categoryId" th:value="${categoryId}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label class="control-label" for="price">Harga :</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="number" class="form-control" id="price" placeholder="Harga produk" name="price" th:value="${price}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label class="control-label" for="description">Deskripsi :</label>
                                </div>
                                <div class="col-sm-8">
                                    <textarea class="form-control" rows="5" id="description" name="description" th:value="${description}"></textarea>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-12 col-lg-12" id="two-button">
                                <div class="col-xs-6 col-md-6 col-lg-6">
                                    <button type="button" class="btn btn-primary" id="btn-batal" onclick="closeTambah()">Batal</button>
                                </div>
                                <div class="col-xs-6 col-md-6 col-lg-6">
                                    <button type="submit" class="btn btn-success" id="btn-tambah2" action="/createProduct">Tambah</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--Akhir Aksi tambah-->
                    <!--Aksi Ubah-->
                    <div class="col-xs-6 col-md-6 col-lg-6 aksi" id="aksi-ubah">
                        <i class="fa" id="btn-close" onclick="closeUbah()">&#xf00d;</i>
                        <br />
                        <form class="form-horizontal" th:object="${product}" th:action="@{/updateProduct}" method="post">
                            <div class="form-group top-form">
                                <div class="col-sm-4">
                                    <label class="control-label" for="kode">Kode :</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="number" class="form-control" id="kode" placeholder="Kode Produk" name="kode" th:value="${kode}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label class="control-label" for="nama">Nama :</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="nama" placeholder="Nama Produk" name="nama" th:value="${nama}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label class="control-label" for="kategoriId">KategoriIDuBAH :</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="number" class="form-control" id="kategoriId" placeholder="UBAH NANTI" name="kategoriId" th:value="${kategoriId}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label class="control-label" for="harga">Harga :</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="harga" placeholder="Harga produk" name="harga" th:value="${harga}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label class="control-label" for="deskripsi">Deskripsi :</label>
                                </div>
                                <div class="col-sm-8">
                                    <textarea class="form-control" rows="5" id="deskripsi" name="deskripsi" th:value="${deskripsi}"></textarea>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-12 col-lg-12" id="two-button">
                                <div class="col-xs-6 col-md-6 col-lg-6">
                                    <button type="button" class="btn btn-primary" id="btn-batal" onclick="closeTambah()">Batal</button>
                                </div>
                                <div class="col-xs-6 col-md-6 col-lg-6">
                                    <button type="submit" class="btn btn-warning" id="btn-tambah2" action="/updateProduct">Ubah</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--Akhir Aksi Ubah-->
                    <!--Aksi Hapus-->
                    <div class="col-xs-6 col-md-6 col-lg-6 aksi" id="aksi-hapus">
                        <i class="fa" id="btn-close" onclick="closeHapus()">&#xf00d;</i>
                        <br />
                        <form class="form-horizontal" th:action="@{/deleteProduct}" method="post">
                            <div class="form-group top-form">
                                <div class="col-sm-4">
                                    <label class="control-label" for="kode">Kode :</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="kode" placeholder="Auto Terisi" name="kode" th:value="${kode}"/>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-12 col-lg-12" id="two-button">
                                <div class="col-xs-6 col-md-6 col-lg-6">
                                    <button type="button" class="btn btn-primary" id="btn-batal" onclick="closeUbah()">Batal</button>
                                </div>
                                <div class="col-xs-6 col-md-6 col-lg-6">
                                    <button type="submit" class="btn btn-error" id="btn-ubah2">Hapus</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--Akhir Aksi Hapus-->
				</div>
				<!--==========content.end==========-->
			</div>
		</div>
        <script type="text/javascript" th:inline="javascript">
            function openTambah() {
                document.getElementById("aksi-tambah").style.display="block";
            }
            function closeTambah() {
                document.getElementById("aksi-tambah").style.display="none";
            }
            function openUbah() {
                document.getElementById("aksi-ubah").style.display="block";
            }
            function closeUbah() {
                document.getElementById("aksi-ubah").style.display="none";
            }
            //hapus nanti
            function openHapus() {
                document.getElementById("aksi-hapus").style.display="block";
            }
            function closeHapus() {
                document.getElementById("aksi-hapus").style.display="none";
            }
        </script>-->
        </body>
	</html>
