<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>POS | Minimarket</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{../css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{../css/style.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{../css/style_Minimarket.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{../css/cdnjs_Icons.css}" rel="stylesheet"/>
    <link th:href="@{../css/googleapis_Icons.css}" rel="stylesheet"/>
    <link th:href="@{../css/style_peg.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{../js/jquery.js}" type="text/javascript"></script>
    <script th:src="@{../js/bootstrap.min.js}" type="text/javascript"></script>
    <!--for fa icon-->
</head>
<!--==========head.end==========-->
<body>
<!--==========header.start==========-->
<div class="container-fluid">
    <div class="row">
        <div class="header">
            <div class="col-xs-3 col-md-2 col-lg-2 logo">
                <a th:href="@{#}"> <img src="../images/BliBli.png" th:src="@{../images/BliBli.png}" class="logo"/></a>
            </div>
            <div class="col-xs-7 col-md-6 col-lg-6 judul">
                <h1>POS Blibli</h1>
            </div>
            <div class="col-xs-2 col-md-4 col-lg-4 user">
                <i class="fa icon-user" onmouseover="openNav()" onmouseout="closeNav()">&#xf2be;</i>
                <div class="identitas">
                    <h5 id="name" th:text="'Nama / ID :' + ${pegawai.name} + ' / ' + ${pegawai.employee_Id}"></h5>
                    <h5 id="role-text" th:text="'Role :' + ${pegawai.role.name}"></h5>
                </div>
                <div id="dr-down" onmouseover="openNav()" onmouseout="closeNav()">
                    <div class="segitiga">
                        <p>sgt</p>
                    </div>
                    <div class="dropdown-avatar">
                        <ul>
                            <li><a id="drop_u1" th:href="@{#}"><i class="fa">&#xf007;</i> Akun</a></li>
                            <li><a id="drop_u2" th:href="@{../Login.html}"><i class="material-icons">&#xe879;</i> Keluar</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--==========header.end==========-->
<div class="container">
    <!--==========navigation.start==========-->
    <div class="row">
        <div class="col-xs-12 navigation">
            <a href="#"><i class="fa" id="home-icon"> &#xf015;</i></a>
            <i class="fa">&#xf105;</i>
            <a th:href="@{../Minimarket.html}" id="pos">Minimarket</a>
        </div>
    </div>
    <!--==========navigation.end==========-->
    <div class="row">
        <!--==========sidebar.start==========-->
        <div class="col-md-2 col-lg-2 sidebar">
            <!--icon reference https://www.w3schools.com/icons/icons_reference.asp-->
            <div class="toggle">
                <h3>Menu</h3> <i class="fa menu" aria-hidden="true">&#9776;</i>
            </div>
            <ul>
                <li>
                    <a id="sid_1" th:href="@{../Minimarket.html}"><i class="fa">&#xf19c;</i> Minimarket</a>
                </li>
                <li>
                    <a id="sid_2" th:href="@{../Employee.html}"><i class="fa">&#xf0c0;</i> Pegawai</a>
                </li>
                <li>
                    <div class="dropdown"><a id="sid_3"><i class="fa">&#xf288;</i> Produk</a>
                        <div class="dropdown-content" id="dr-produk">
                            <a id="drop_p1" th:href="@{../Category.html}">Kategori</a>
                            <a id="drop_p2" th:href="@{../Product.html}">Kelola Produk</a>
                        </div>
                    </div>
                </li>
                <li>
                    <a id="sid_4" th:href="@{../Stock.html}"><i class="fa">&#xf1b3;</i> Stok</a>
                </li>
                <li>
                    <a id="sid_5" th:href="@{../Transaction.html}"><i class="fa">&#xf217;</i> Transaksi</a>
                </li>
                <li>
                    <a id="sid_6" th:href="@{../Promo.html}"><i class="fa">&#xf02c;</i> Promo</a>
                </li>
                <li>
                <li>
                    <div class="dropdown"><a id="sid_7"><i class="fa">&#xf080;</i> Laporan</a>
                        <div class="dropdown-content" id="dr-laporan">
                            <a id="drop_p1" href="#">Transaksi</a>
                            <a id="drop_p2" href="#">Statistik</a>
                        </div>
                    </div>
                </li>
                </li>
            </ul>
        </div>
        <!--==========sidebar.end==========-->
        <!--==========content.start==========-->
        <div class="col-md-10 content">
            <div class="wrap">
                <a th:href="@{#}">
                    <img src="../images/BliBli.png" th:src="@{../images/BliBli.png}" class="logo_toko"/>
                </a>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-8">
                <form class="form-horizontal" th:form="${form}" th:object="${pegawai}" th:action="@{/Profile/Update}"
                      method="post">
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label class="control-label" style="text-align: left" for="employee_Id">ID:</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" required="required" id="employee_Id"
                                   name="employee_Id"
                                   th:value="${pegawai.employee_Id}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label class="control-label" style="text-align: left" for="">Role:</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" required="required" id="" name=""
                                   th:value="${pegawai.role.name}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label class="control-label" style="text-align: left" for="name">Nama:</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" required="required" id="name" name="name"
                                   th:value="${pegawai.name}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label class="control-label" style="text-align: left" for="email">E-mail :</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" required="required" id="email" name="email"
                                   th:value="${pegawai.email}"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12 col-lg-12" id="two-button">
                        <div class="col-xs-4 col-md-4 col-lg-4">
                            <button type="button" class="btn btn-primary" id="btn-batal">Batal</button>
                            <!--belum ada aksi-->
                        </div>
                        <div class="col-xs-4 col-md-4 col-lg-4">
                            <button type="submit" value="Submit" class="btn btn-success" id="btn-tambah">Ubah</button>
                        </div>
                        <div class="col-xs-4 col-md-4 col-lg-4">
                            <button type="button" class="btn btn-danger" id="btn-password" style="margin-left: 60%;"
                                    data-toggle="modal" data-target="#createModal">
                                Ubah Password
                            </button>
                        </div>
                    </div>
                </form>
                <!-- Modal ganti password -->
                <div class="modal fade" id="createModal" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title" style="text-align: center">Ubah Password</h4>
                            </div>
                            <div class="modal-body">
                                <form class="form-horizontal" th:form="${form}" th:object="${PasswordBaru}"
                                      th:action="@{/Profile/ChangePassword}" method="post">
                                    <div class="form-group">
                                        <div class="col-sm-3">
                                            <label class="control-label" for="passwordLama">Password Lama:</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <input type="password" class="form-control" id="passwordLama"
                                                   name="passwordLama"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-3">
                                            <label class="control-label" for="passwordBaru1">Password Baru:</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <input type="password" class="form-control" id="passwordBaru1"
                                                   name="passwordBaru1"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-3">
                                            <label class="control-label" for="passwordBaru2">Ulangi Password:</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <input type="password" class="form-control" id="passwordBaru2" placeholder=""
                                                   name="passwordBaru2"/>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="col-xs-12 col-md-12 col-lg-12" id="two-button">
                                            <div class="col-xs-4 col-md-4 col-lg-4"></div>
                                            <div class="col-xs-3 col-md-3 col-lg-3">
                                                <button type="button" class="btn btn-primary" id="btn-batal"
                                                        data-dismiss="modal">Batal
                                                </button>
                                            </div>
                                            <div class="col-xs-2 col-md-2 col-lg-2"></div>
                                            <div class="col-xs-3 col-md-3 col-lg-3">
                                                <button type="submit" value="Submit" class="btn btn-success"
                                                        id="btn-ubah">Ubah
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>