<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>POS | Promo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}"
          rel="stylesheet" type="text/css"
    />
    <link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet" type="text/css"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/style_promo.css" rel="stylesheet" type="text/css"/>
    <script th:src="@{../js/jquery.js}" type="text/javascript"></script>
    <script th:src="@{../js/bootstrap.min.js}" type="text/javascript"></script>
    <script>
        function selectForm() {
            if (document.getElementById("selectPromo").value == "Total") {
                document.getElementById("formTotal").style.display = "block";
                document.getElementById("formProduk").style.display = "none";
                document.getElementById("formXY").style.display = "none";
            }
            else if (document.getElementById("selectPromo").value == "Produk") {
                document.getElementById("formTotal").style.display = "none";
                document.getElementById("formProduk").style.display = "block";
                document.getElementById("formXY").style.display = "none";
            }
            else if (document.getElementById("selectPromo").value == "XY") {
                document.getElementById("formTotal").style.display = "none";
                document.getElementById("formProduk").style.display = "none";
                document.getElementById("formXY").style.display = "block";
            }
        }
    </script>
    <!--for fa icon-->
</head>
<!--==========head.end==========-->

<body>
<!--==========header.start==========-->

<div class="container-fluid">
    <div class="row">
        <div class="header">
            <div class="col-xs-3 col-md-2 col-lg-2 logo">
                <a href="home.html">
                    <img src="../image/blibli.png" class="logo" alt="Cinque Terre"></img>
                </a>
            </div>
            <div class="col-xs-7 col-md-6 col-lg-6 judul">
                <h1>POS Blibli</h1>
            </div>
            <div class="col-xs-2 col-md-4 col-lg-4 user">
                <i class="fa icon-user" onmouseover="openNav()" onmouseout="closeNav()">&#xf2be;</i>
                <div class="identitas">
                    <h5 id="name" th:text="'Nama / ID :' + ${pegawai.name} + ' / ' + ${pegawai.employee_Id}"></h5>
                    <h5 id="role-text" th:text="'Role :' + ${pegawai.role.name}"></h5>
                </div>
                <div id="dr-down" onmouseover="openNav()" onmouseout="closeNav()">
                    <div class="segitiga">
                        <p>sgt</p>
                    </div>
                    <div class="dropdown-avatar">
                        <ul>
                            <li>
                                <a id="drop_u1" href="#">
                                    <i class="fa">&#xf007;</i> Akun</a>
                            </li>
                            <li>
                                <a id="drop_u2" th:href="@{../Login.html}">
                                    <i class="glyphicon">&#xe163;</i> Keluar</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--==========header.end==========-->
<div class="container">
    <!--==========navigation.start==========-->
    <div class="row">
        <div class ="col-xs-12 navigation">
            <a th:href="@{../MainMenu.html}"><i class="fa" id="home-icon"> &#xf015;</i></a>
            <i class="fa">&#xf105;</i>
            <a th:href="@{../Promo.html}" id="pos">Promo</a>
        </div>
    </div>
    <!--==========navigation.end==========-->
    <div class="row">
        <!--==========sidebar.start==========-->
        <div class="col-md-2 col-lg-2 sidebar">
            <!--icon reference https://www.w3schools.com/icons/icons_reference.asp-->
            <div class="toggle">
                <h3>Menu</h3>
                <i class="fa menu" aria-hidden="true">&#9776;</i>
            </div>
            <ul>
                <li>
                    <a id="sid_1" th:href="@{../Minimarket.html}">
                        <i class="fa">&#xf19c;</i> Minimarket</a>
                </li>
                <li>
                    <a id="sid_2" th:href="@{../Employee.html}">
                        <i class="fa">&#xf0c0;</i> Pegawai</a>
                </li>
                <li>
                    <div class="dropdown">
                        <a id="sid_3">
                            <i class="fa">&#xf288;</i> Produk</a>
                        <div class="dropdown-content">
                            <a id="drop_p1" th:href="@{../Category.html}">Kategori</a>
                            <a id="drop_p2" th:href="@{../Product.html}">Kelola Produk</a>
                        </div>
                    </div>
                </li>
                <li>
                    <a id="sid_4" th:href="@{../Stock.html}">
                        <i class="fa">&#xf1b3;</i> Stok</a>
                </li>
                <li>
                    <a id="sid_5" th:href="@{../Transaction.html}">
                        <i class="fa">&#xf217;</i> Transaksi</a>
                </li>
                <li>
                    <a id="sid_6" th:href="@{../Promo.html}">
                        <i class="fa">&#xf02c;</i> Promo</a>
                </li>
                <li>
                    <a id="sid_7" href="#">
                        <i class="fa">&#xf080;</i> Laporan</a>
                </li>
            </ul>
        </div>
        <!--==========sidebar.end==========-->
        <!--==========content.start==========-->
        <div class="col-md-10 col-lg-10 content">
            <br></br>
            <form class="form-inline">
                <input class="form-control src" name="search" placeholder="Kode Promo..."></input>
                <button type="button" class="btn btn-success" id="btn-export">Export</button>
            </form>
            <br></br>
            <!--Table-->
            <div class="col-md-12 drop">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        Diskon Barang
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Kode Promo</th>
                            <th>Tanggal Mulai</th>
                            <th>Tanggal Berakhir</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="promos: ${promo}">
                            <tr>
                                <td th:text="${promos.id}"/>
                                <td th:text="${promos.startDate}"/>
                                <td th:text="${promos.endDate}"/>
                                <td th:text="${promos.status}"/>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--end of table-->

            <!--Button tambah ubah hapus-->
            <br/>
            <div class="col-xs-12 col-md-12 col-lg-12" id="three-button">
                <div class="col-xs-4 col-md-4 col-lg-4">
                    <button type="button" class="btn btn-success" id="btn-tambah" data-toggle="modal"
                            data-target="#createModal">Tambah
                    </button>
                </div>
                <div class="col-xs-4 col-md-4 col-lg-4">
                    <button type="button" class="btn btn-warning" id="btn-ubah" data-toggle="modal"
                            data-target="#updateModal">Ubah
                    </button>
                </div>
                <div class="col-xs-4 col-md-4 col-lg-4">
                    <button type="button" class="btn btn-danger" id="btn-hapus" data-toggle="modal"
                            data-target="#deleteModal">Hapus
                    </button>
                </div>
            </div>
            <!--Akhir Button tambah ubah hapus-->

            <!-- addModal -->
            <div class="modal fade" id="createModal" role="dialog">
                <div class="modal-dialog" style="width : 1100px">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" style="text-align: center">Tambah Promo Baru</h4>
                        </div>
                        <div class="modal-body">
                            <form id="form1" class="form-horizontal" th:form="${form}" th:object="${promoAdd}"
                                  th:action="@{/Promo/Add}" method="post">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <div class="col-sm-3">
                                            <label class="control-label" for="type">Jenis:</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <select class="btn btn-default dropdown-toggle" type="button"
                                                    data-toggle="dropdown" name="role" th:value="${type}"
                                                    id="selectPromo"
                                                    onChange="selectForm()">
                                                <option selected="selected">Pilih Jenis Promo</option>
                                                <option value="Total">Promo Total</option>
                                                <option value="Produk">Promo Produk</option>
                                                <option value="XY">Promo Beli X dapat Y</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4" id="formTotal" style="display: none">
                                    <h5>Promo Total</h5>
                                    <div th:form="${form}" th:object="${promoTotal}" name="promoTotal">
                                        <div class="col-sm-12">
                                            <div class="col-sm-3">
                                                <label class="control-label" for="discountPercent">ID:</label>
                                            </div>
                                            <div class="col-sm-9">
                                                <input type="number" class="form-control" id="discountPercent"
                                                       placeholder="0" name="discountPercent"
                                                       th:value="${discountPercent}"
                                                />
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="col-sm-3">
                                                <label class="control-label" for="discountPercent">Tanggal Mulai</label>
                                            </div>
                                            <div class="col-sm-9">
                                                <input type="number" class="form-control" id="discountPercent"
                                                       placeholder="0" name="discountPercent"
                                                       th:value="${discountPercent}"
                                                />
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="col-sm-3">
                                                <label class="control-label" for="discountPercent">Tanggal Akhir</label>
                                            </div>
                                            <div class="col-sm-9">
                                                <input type="number" class="form-control" id="discountPercent"
                                                       placeholder="0" name="discountPercent"
                                                       th:value="${discountPercent}"
                                                />
                                            </div>
                                        </div>

                                        <div class="col-sm-12">
                                            <div class="col-sm-3">
                                                <label class="control-label" for="discountPercent">Diskon(%)</label>
                                            </div>
                                            <div class="col-sm-9">
                                                <input type="number" class="form-control" id="discountPercent"
                                                       placeholder="0" name="discountPercent"
                                                       th:value="${discountPercent}"
                                                />
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="col-sm-3">
                                                <label class="control-label" for="buyMin">Jumlah Min</label>
                                            </div>
                                            <div class="col-sm-9">
                                                <input type="number" class="form-control" id="buyMin" placeholder="0"
                                                       name="buyMin" th:value="${buyMin}"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4" id="formProduk" style="display: none">
                                    <h5>Promo Produk</h5>
                                    <div th:form="${form}" th:object="${promoProduk}" name="promoProduk">
                                        <div class="col-sm-12">
                                            <div class="col-sm-3">
                                                <label class="control-label" for="discountPercent">Diskon (%)</label>
                                            </div>
                                            <div class="col-sm-9">
                                                <input type="number" class="form-control" id="discountPercent"
                                                       placeholder="0" name="discountPercent"
                                                       th:value="${discountPercent}"
                                                />
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="col-sm-3">
                                                <label class="control-label" for="productId">ID Produk</label>
                                            </div>
                                            <div class="col-sm-9">
                                                <input type="number" class="form-control" id="productId" placeholder="0"
                                                       name="productId" th:value="${productId}"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4" id="formXY" style="display: none">
                                    <h5>Promo Beli X dapat Y</h5>
                                    <div th:form="${form}" th:object="${promoXY}" name="promoXY">
                                        <div class="col-sm-12">
                                            <div class="col-sm-3">
                                                <label class="control-label" for="productXId">ID Barang X</label>
                                            </div>
                                            <div class="col-sm-9">
                                                <input type="number" class="form-control" id="productXId"
                                                       placeholder="0" name="productXId" th:value="${productXId}"/>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="col-sm-3">
                                                <label class="control-label" for="quantityX">Jumlah Barang X</label>
                                            </div>
                                            <div class="col-sm-9">
                                                <input type="number" class="form-control" id="quantityX" placeholder="0"
                                                       name="quantityX" th:value="${quantityX}"/>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="col-sm-3">
                                                <label class="control-label" for="productYId">ID Barang Y</label>
                                            </div>
                                            <div class="col-sm-9">
                                                <input type="number" class="form-control" id="productYId"
                                                       placeholder="0" name="productYId" th:value="${productYId}"/>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="col-sm-3">
                                                <label class="control-label" for="quantityY">Jumlah Barang Y</label>
                                            </div>
                                            <div class="col-sm-9">
                                                <input type="number" class="form-control" id="quantityY" placeholder="0"
                                                       name="quantityY" th:value="${quantityY}"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="modal-footer">
                                <div class="col-xs-12 col-md-12 col-lg-12" id="two-button">
                                    <div class="col-xs-4 col-md-4 col-lg-4"></div>
                                    <div class="col-xs-3 col-md-3 col-lg-3">
                                        <button type="button" class="btn btn-primary" id="btn-batal"
                                                data-dismiss="modal">Batal
                                        </button>
                                    </div>
                                    <div class="col-xs-2 col-md-2 col-lg-2"></div>
                                    <div class="col-xs-3 col-md-3 col-lg-3">
                                        <button type="submit" value="Submit" class="btn btn-success" id="btn-ubah"
                                                form="form1">Tambah
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- updateModal -->
            <div class="modal fade" id="updateModal" role="dialog">
                <div class="modal-dialog" style="width : 1100px">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" style="text-align: center">Ubah Promo</h4>
                        </div>
                        <div class="modal-body">
                            <form id="form21" class="form-horizontal" th:form="${form}" th:object="${promoUpdated}"
                                  th:action="@{/Promo/Update}" method="post">
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <div class="col-sm-4">
                                            <label class="cotrol-label" for="Id">ID:</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <input type="number" class="form-control" id="Id" placeholder="1" name="Id"
                                                   th:value="${Id}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <div class="col-sm-3">
                                            <label class="control-label" for="type">Jenis:</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="type"
                                                   placeholder="Nama Kategori" name="type" th:value="${type}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <div class="col-sm-3">
                                            <label class="control-label" for="startDate">Tgl Mulai</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="startDate" placeholder=""
                                                   name="startDate" th:value="${startDate}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <div class="col-sm-3">
                                            <label class="control-label" for="endDate">Tgl Akhir</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="endDate"
                                                   placeholder="Nama Kategori" name="endDate" th:value="${endDate}"/>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="col-sm-4">
                                <form id="form22" th:action="@{/Promo/Update}" method="post" th:object="${promoTotal}">
                                    <h5>Promo Total</h5>
                                    <div class="col-sm-12">
                                        <div class="col-sm-3">
                                            <label class="control-label" for="discountPercent">Diskon(%)</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <input type="number" class="form-control" id="discountPercent"
                                                   placeholder="0" name="discountPercent" th:value="${discountPercent}"
                                            />
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="col-sm-3">
                                            <label class="control-label" for="buyMin">Belanja Min</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <input type="number" class="form-control" id="buyMin" placeholder="0"
                                                   name="buyMin" th:value="${buyMin}"/>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="col-sm-3">
                                            <label class="control-label" for="idTotal">ID Produk</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="idTotal" placeholder="0"
                                                   name="idTotal" th:value="${idTotal}"/>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-sm-4">
                                <form id="form23" th:action="@{/Promo/Update}" method="post"
                                      th:object="${promoProduct}">
                                    <h5>Promo Produk</h5>
                                    <div class="col-sm-12">
                                        <div class="col-sm-3">
                                            <label class="control-label" for="discountPercent">Diskon (%)</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <input type="number" class="form-control" id="discountPercent"
                                                   placeholder="0" name="discountPercent" th:value="${discountPercent}"
                                            />
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="col-sm-3">
                                            <label class="control-label" for="productId">ID Produk</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <input type="number" class="form-control" id="productId" placeholder="0"
                                                   name="productId" th:value="${productId}"/>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-sm-4">
                                <form id="form24" th:action="@{/Promo/Update}" method="post" th:object="${promoXY}">
                                    <h5>Promo Beli X dapat Y</h5>
                                    <div class="col-sm-12">
                                        <div class="col-sm-3">
                                            <label class="control-label" for="productXId">ID Barang X</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <input type="number" class="form-control" id="productXId" placeholder="0"
                                                   name="productXId" th:value="${productXId}"/>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="col-sm-3">
                                            <label class="control-label" for="quantityX">Jumlah Barang X</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <input type="number" class="form-control" id="quantityX" placeholder="0"
                                                   name="quantityX" th:value="${quantityX}"/>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="col-sm-3">
                                            <label class="control-label" for="productYId">ID Barang Y</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <input type="number" class="form-control" id="productYId" placeholder="0"
                                                   name="productYId" th:value="${productYId}"/>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="col-sm-3">
                                            <label class="control-label" for="quantityY">Jumlah Barang Y</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <input type="number" class="form-control" id="quantityY" placeholder="0"
                                                   name="quantityY" th:value="${quantityY}"/>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <div class="col-xs-12 col-md-12 col-lg-12" id="two-button">
                                    <div class="col-xs-4 col-md-4 col-lg-4"></div>
                                    <div class="col-xs-3 col-md-3 col-lg-3">
                                        <button type="button" class="btn btn-primary" id="btn-batal"
                                                data-dismiss="modal">Batal
                                        </button>
                                    </div>
                                    <div class="col-xs-2 col-md-2 col-lg-2"></div>
                                    <div class="col-xs-3 col-md-3 col-lg-3">
                                        <button type="submit" value="Submit" class="btn btn-success" id="btn-ubah"
                                                form="form21">Tambah
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- updateModal -->
            <div class="modal fade" id="updateModal" role="dialog">
                <div class="modal-dialog" style="width : 1100px">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" style="text-align: center">Ubah Promo</h4>
                        </div>
                        <div class="modal-body">
                            <form id="form21" class="form-horizontal" th:form="${form}" th:object="${promoUpdated}"
                                  th:action="@{/Promo/Update}" method="post">
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <div class="col-sm-4">
                                            <label class="cotrol-label" for="Id">ID:</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <input type="number" class="form-control" id="Id" placeholder="1" name="Id"
                                                   th:value="${Id}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <div class="col-sm-3">
                                            <label class="control-label" for="type">Jenis:</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="type"
                                                   placeholder="Nama Kategori" name="type" th:value="${type}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <div class="col-sm-3">
                                            <label class="control-label" for="startDate">Tgl Mulai</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="startDate" placeholder=""
                                                   name="startDate" th:value="${startDate}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <div class="col-sm-3">
                                            <label class="control-label" for="endDate">Tgl Akhir</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="endDate"
                                                   placeholder="Nama Kategori" name="endDate" th:value="${endDate}"/>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="col-sm-4">
                                <form id="form22" th:action="@{/Promo/Update}" method="post" th:object="${promoTotal}">
                                    <h5>Promo Total</h5>
                                    <div class="col-sm-12">
                                        <div class="col-sm-3">
                                            <label class="control-label" for="discountPercent">Diskon(%)</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <input type="number" class="form-control" id="discountPercent"
                                                   placeholder="0" name="discountPercent" th:value="${discountPercent}"
                                            />
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="col-sm-3">
                                            <label class="control-label" for="buyMin">Jumlah Min</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <input type="number" class="form-control" id="buyMin" placeholder="0"
                                                   name="buyMin" th:value="${buyMin}"/>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="col-sm-3">
                                            <label class="control-label" for="idTotal">ID Produk</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="idTotal" placeholder="0"
                                                   name="idTotal" th:value="${idTotal}"/>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-sm-4">
                                <form id="form23" th:action="@{/Promo/Update}" method="post"
                                      th:object="${promoProduct}">
                                    <h5>Promo Produk</h5>
                                    <div class="col-sm-12">
                                        <div class="col-sm-3">
                                            <label class="control-label" for="discountPercent">Diskon (%)</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <input type="number" class="form-control" id="discountPercent"
                                                   placeholder="0" name="discountPercent" th:value="${discountPercent}"
                                            />
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="col-sm-3">
                                            <label class="control-label" for="productId">ID Produk</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <input type="number" class="form-control" id="productId" placeholder="0"
                                                   name="productId" th:value="${productId}"/>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-sm-4">
                                <form id="form24" th:action="@{/Promo/Update}" method="post" th:object="${promoXY}">
                                    <h5>Promo Beli X dapat Y</h5>
                                    <div class="col-sm-12">
                                        <div class="col-sm-3">
                                            <label class="control-label" for="productXId">ID Barang X</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <input type="number" class="form-control" id="productXId" placeholder="0"
                                                   name="productXId" th:value="${productXId}"/>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="col-sm-3">
                                            <label class="control-label" for="quantityX">Jumlah Barang X</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <input type="number" class="form-control" id="quantityX" placeholder="0"
                                                   name="quantityX" th:value="${quantityX}"/>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="col-sm-3">
                                            <label class="control-label" for="productYId">ID Barang Y</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <input type="number" class="form-control" id="productYId" placeholder="0"
                                                   name="productYId" th:value="${productYId}"/>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="col-sm-3">
                                            <label class="control-label" for="quantityY">Jumlah Barang Y</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <input type="number" class="form-control" id="quantityY" placeholder="0"
                                                   name="quantityY" th:value="${quantityY}"/>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <div class="col-xs-12 col-md-12 col-lg-12" id="two-button">
                                    <div class="col-xs-4 col-md-4 col-lg-4"></div>
                                    <div class="col-xs-3 col-md-3 col-lg-3">
                                        <button type="button" class="btn btn-primary" id="btn-batal"
                                                data-dismiss="modal">Batal
                                        </button>
                                    </div>
                                    <div class="col-xs-2 col-md-2 col-lg-2"></div>
                                    <div class="col-xs-3 col-md-3 col-lg-3">
                                        <button type="submit" value="Submit" class="btn btn-success" id="btn-ubah"
                                                form="form21">Tambah
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- deleteModal -->
            <div class="modal fade" id="deleteModal" role="dialog">
                <div class="modal-dialog" style="width : 1100px">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" style="text-align: center">Ubah Promo</h4>
                        </div>
                        <div class="modal-body">
                            <form id="form31" class="form-horizontal" th:form="${form}" th:object="${promoDelete}"
                                  th:action="@{/Promo/Delete}" method="post">
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <div class="col-sm-4">
                                            <label class="cotrol-label" for="Id">ID:</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <input type="number" class="form-control" id="Id" placeholder="1" name="Id"
                                                   th:value="${Id}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <div class="col-sm-3">
                                            <label class="control-label" for="type">Jenis:</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="type"
                                                   placeholder="Nama Kategori" name="type" th:value="${type}"/>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <div class="col-xs-12 col-md-12 col-lg-12" id="two-button">
                                <div class="col-xs-4 col-md-4 col-lg-4"></div>
                                <div class="col-xs-3 col-md-3 col-lg-3">
                                    <button type="button" class="btn btn-primary" id="btn-batal" data-dismiss="modal">
                                        Batal
                                    </button>
                                </div>
                                <div class="col-xs-2 col-md-2 col-lg-2"></div>
                                <div class="col-xs-3 col-md-3 col-lg-3">
                                    <button type="submit" value="Submit" class="btn btn-success" id="btn-ubah"
                                            form="form31">Tambah
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--==========content.end==========-->
    </div>
</div>
<script>
    function openTambah() {
        document.getElementById("aksi-tambah").style.display = "block";
    }

    function closeTambah() {
        document.getElementById("aksi-tambah").style.display = "none";
    }

    function openUbah() {
        document.getElementById("aksi-ubah").style.display = "block";
    }

    function closeUbah() {
        document.getElementById("aksi-ubah").style.display = "none";
    }
    function tambah(){
            document.getElementById("form1").submit();
            document.getElementById("form2").submit();
    }
</script>
</body>
<!--==========head.end==========-->

</html>