<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org">
		<head>
			<title>POS | Transaksi</title>
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <link th:href="@{../css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
			<link th:href="@{../css/style.css}" rel="stylesheet" type="text/css"/>
			<link th:href="@{../css/style_peg.css}" rel="stylesheet" type="text/css"/>
            <link th:href="@{../css/cdnjs_Icons.css}" rel="stylesheet"/>
            <link th:href="@{../css/googleapis_Icons.css}" rel="stylesheet"/>
            <script th:src="@{../js/jquery.js}" type="text/javascript"></script>
            <script th:src="@{../js/bootstrap.min.js}" type="text/javascript"></script>
            <!--for fa icon-->

<!--            <script>
                var productIdA=[];
                var quantityA=[];
                function cart() {
                    var productId = document.getElementById("productId").value;
                    var quantity = document.getElementById("quantity").value;
                    productIdA.push(productId);
                    productIdA.push(productId);
                    quantityA.push(quantity);
                    localStorage.setItem("productIdA", JSON.stringify(productIdA));
                    localStorage.setItem("quantityA", JSON.stringify(quantityA));

                    var transactionId = document.getElementById("transactionId").value;
                    var date = document.getElementById("date").value;
                    var tax = document.getElementById("tax").value;
                    var total = document.getElementById("total").value;

                    localStorage.setItem("transactionId", transactionId);
                    localStorage.setItem("date", date);
                    localStorage.setItem("tax", tax);
                    localStorage.setItem("total", total);

                    console.log(localStorage.getItem("transactionId"));
                    console.log(localStorage.getItem("date"));
                    console.log(localStorage.getItem("tax"));
                    console.log(localStorage.getItem("total"));
                    console.log(localStorage.getItem("productIdA"))
                }
            </script>
-->
        </head>
										<!--==========head.end==========-->
		<body>
            <!--==========header.start==========-->
            <div class="container-fluid">
                <div class="row">
                    <div class="header">
                        <div class="col-xs-3 col-md-2 col-lg-2 logo">
                            <a th:href="@{#}"> <img src="../images/BliBli.png" th:src="@{../images/BliBli.png}" class="logo"/></a>
                        </div>
                        <div class="col-xs-7 col-md-6 col-lg-6 judul" >
                            <h1>POS Blibli</h1>
                        </div>
                        <div class="col-xs-2 col-md-4 col-lg-4 user">
                            <i class="fa icon-user" onmouseover="openNav()" onmouseout="closeNav()">&#xf2be;</i>
                            <div class="identitas">
                                <h5 id="name">Nama / ID :SUTARTO/1011</h5>
                                <h5 id="role-text">Role :Admin</h5>
                            </div>
                            <div id="dr-down" onmouseover="openNav()" onmouseout="closeNav()">
                                <div class="segitiga">
                                    <p>sgt</p>
                                </div>
                                <div class="dropdown-avatar">
                                    <ul>
                                        <li><a id="drop_u1" th:href="@{#}"><i class="fa">&#xf007;</i> Akun</a></li>
                                        <li><a id="drop_u2" th:href="@{#}"><i class="material-icons">&#xe879;</i> Keluar</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--==========header.end==========-->
            <div class="container">
                <div class="row">
                    <div class ="col-xs-12 navigation">
                        <a href="#"><i class="fa" id="home-icon"> &#xf015;</i></a>
                        <i class="fa">&#xf105;</i>
                        <a href="#" id="pos">Transaksi</a>
                    </div>
                </div>
                <!--==========navigation.end==========-->
                <!--==========content.start==========-->
                <div class="col-md-12 col-lg-12 content">
                    <br />
                    <div style="border: 1px solid black;">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="col-sm-4" id="col-padding5">
                                    <label class="control-label" for="transactionId">Nomor :</label>
                                </div>
                                <div class="col-sm-6">
                                    <input type="number" class="form-control" id="transactionId" th:object="${transactionId}" name="transactionId" th:value="${transactionId}" disabled="true"/>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div class="col-sm-4" id="col-padding5">
                                    <label class="control-label" for="tax">Pajak :</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="number" class="form-control" id="tax" name="pajak" th:object="${tax}" th:value="${tax}" disabled="true"/>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="col-sm-4" id="col-padding5">
                                    <label class="control-label" for="date">Tanggal/Waktu :</label>
                                </div>
                                <div class="col-sm-6">
                                    <input type="datetime-local" class="form-control" id="date" name="date" th:object="${dateTime}" th:value="${dateTime}" disabled="true"/>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div class="col-sm-4" id="col-padding5">
                                    <label class="control-label" for="total">Total :</label>
                                </div>
                                <div class="col-sm-4" id="col-padding5">
                                    <input type="number" class="form-control" id="total" name="total" th:object="${total}" th:value="${total}" disabled="true"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br />
                    <form th:action="@{Transaction/addToCart}" method="post">
                    <div class="col-sm-8" >
                        <input type="number" class="form-control" id="productId" th:object="${productId}" name="productId" th:value="${productId}"/>
                        <input type="number" class="form-control" id="quantity" th:object="${quantity}" name="quantity" th:value="${quantity}"/>
                        <button type="submit" class="btn btn-success" id="btn-ubah" onclick="cart()">Tambah</button>
                    </div>
                    </form>
                    <button type="button" class="btn btn-warning" id="btn-hapus" data-toggle="modal" data-target="#paymentModal">Bayar</button>
                   <!-- <form th:form="${form}" th:object="${product}" th:action="@{Transaction/addToCart}"  method="post">
                    <div style="border: 1px solid yellow;">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="col-sm-4" id="col-padding5">
                                    <label class="control-label" for="productId">Kode Produk :</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="number" class="form-control" id="productId" name="productId" th:value="productId"/>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div class="col-sm-4" id="col-padding5">
                                    <label class="control-label" for="quantity">Jumlah :</label>
                                </div>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" id="quantity" name="quantity" />
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="col-sm-4" id="col-padding5">
                                    <label class="control-label" for="name">Nama Produk :</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="name" name="name" />
                                </div>
                            </div>
                        </div>
                    </div>
                        <button type="submit" class="btn btn-success" id="btn-ubah">Tambah</button>
                    </form>

                    <br />-->
                    <!--Table-->
                    <h3 style="text-align: center">Daftar Belanja</h3>
                    <div class="col-md-12 col-lg-12">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Kode</th>
                                    <th>NamaEdit</th>
                                    <th>Harga</th>
                                    <th>Jumlah</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="pList : ${productList}">
                                    <tr>
                                        <td th:text="${pList.productId}" />
                                        <td th:text="${pList.name}" />
                                        <td th:text="${pList.price}"/>
                                        <td th:text="${pList.quantity}"/>
                                    </tr>
                                    </th:block>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--end of table-->
                </div>

            </div>
            <!--==========content.end==========-->
            <!-- addModal -->
            <div class="modal fade" id="paymentModal" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" style="text-align: center">Tambah Kategori Baru</h4>
                        </div>
                        <div class="modal-body">
                            <div class="col-xs-3 col-md-3 col-lg-3">
                                <!--<button type="submit" th:action="${Transaction/Pay}" class="btn btn-success" id="btn-ubah">Tambah</button>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </body>
    </html>
