select {
  float: right;
  border: 1px solid #111;
  background: transparent;
  width: 150px;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: 1px solid #ccc;
}
#col-padding5{
  font-size: 16px;
  padding-right: 0px;
  padding-top: 2px;
  height: 100%;
}
.src{
  width: 90%;
  float: right;
}
#search-form{
  margin-right: 0;
  padding-right: 0;
}
#btn-src{
  margin-left: 0;
  padding-left: 0;
}
#btn-src2{
    width: 100%;
}
.del-radius-left{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.del-radius-right{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#btn-export{
  float: right;
  margin-right: 30%;
}
.judul-tabel{
  text-align: center;
}
#filter-transaksi{
  margin-top: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  box-shadow: 3px 3px 3px 3px rgba(70, 198, 203, 0.34);
  display: none;
  z-index: 1;
}

.tabel-detail{
  margin-top: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
#t-laporan{
  min-height: 250px;
  max-height: 250px;
}
.content{
  min-height: 300px;;
}
