#pos{
  color: #fff;
  padding-bottom: 20px;
  font-size: 16px;
  text-decoration: none;
}
#pos:hover{
  color: #2ef2ff;
}
.form-inline .form-control{
  width: 65%;
  margin-left: 10%;
  margin-right: 5%;
}
.pencarian{
  display: inline-block;
  width: 100%;
}
#btn-tambah,
#btn-ubah{
  margin-left: 35%;
}
#btn-hapus{
  float: right;
  margin-right: 35%;
}
#three-button{
  padding-top: 10px;
  padding-bottom: 10px;
  background: #fff;
}
.table-responsive tr:hover{
  background-color:#f5f5f5;
  cursor: default;
}
.table-responsive{
  min-height: 380px;
  max-height: 380px;
  overflow:auto;
}
@media only screen and (max-width: 1024px) {
  .table-responsive{
    min-height: 300px;
    max-height: 300px;
  }
}
@media only screen and (min-width: 1368px) {
  .table-responsive{
    min-height: 600px;
    max-height: 600px;
  }
}
.aksi{
  display: none;
  position: absolute;
  top: 20%;
  left: 20%;
  background: #fff;
  box-shadow: 3px 3px 3px 3px rgba(70, 198, 203, 0.34);
  z-index: 1;
}
#btn-close{
  float: right;
  font-size: 20px;
  cursor: pointer;
}
#user-avatar{
  font-size: 60px;
  padding-top: 20px;
  padding-left: 45%;
  color: #037e83;
  cursor: pointer;
}
#edit-avatar{
  font-size: 18px;
  position: absolute;
  left: 49.5%;
  top: 20%;
  color: #fff;
  cursor: pointer;
  z-index: 1;
}
.control-label{
  float: left;
}
.form-horizontal .form-group{
    margin-right: 15px;
    margin-left:  15px;
}
#two-button{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25%;
}
.dropdown{
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  z-index: 1;
}
.caret{
  float: right;
}
#menu1{
  width: 100%;
  text-align: justify;
}
#btn-batal{
  margin-left: 10px;
}
#btn-tambah2{
  float: right;
}
#btn-ubah2{
  float: right;
}
