/*============================================================================*/
/*-----------------------------------GLOBAL-----------------------------------*/
/*============================================================================*/
*{
  margin:0px;
  padding: 0px;
  font-family: sans-serif;
}

body{
  background: #edeeee;
  margin: 0;
  padding: 0;
}
/*============================================================================*/
/*-----------------------------------HEADER-----------------------------------*/
/*============================================================================*/
.header{
    background: #fff;
    height: 70px;
    border-top: 10px solid #edeeee;
    padding: 0;
    margin: 0px;
}
/*---------------------------LOGO.START---------------------------*/
.logo{
  height: 100%;
  text-align: center;
  padding: 5px;
  margin: 0px;
}
/*---------------------------LOGO.END---------------------------*/
/*---------------------------JUDUL.START------------------------*/
.judul{
  padding: 0;
  height: 100%;
}
.judul h1{
  color: #004b4b;
  text-align: center;
  font-size: 45px;
  margin:0;
  padding: 5px 0 0 0;
}
/*---------------------------JUDUL.END--------------------------*/
/*---------------------------USER.START-------------------------*/
.user{
  height: 100%;
  padding: 0;
}
/*--------avatar.start--------*/
.dropdown-avatar ul{
    list-style: none;
}
.user .icon-user{
  height: 100%;
  float: left;
  padding: 6px;
  margin: 0px;
  font-size: 48px;
  color: #037e83;
  cursor: pointer;
}
#dr-down{
  display: none;
}
.segitiga{
    display: block;
    font-size: 0;
    width: 0;
    height: 0;
    position: absolute;
    left: 33px;
    bottom: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #65e600;
    margin-left: -10px;
}
.dropdown-avatar{
  display: block;
  position: absolute;
  width: 130px;
  top:60px;
  left: -8%;
  word-spacing: 10px;
  border-radius: 5%;
  border-top: 8px solid #65e600;
  background-color: #fff;
  box-shadow: 3px 3px 3px 3px rgba(70, 198, 203, 0.34);;
  z-index: 1;
}
.dropdown-avatar a{
  display: block;
  line-height: 40px;
  text-decoration: none;
  color: #00524f;
  padding-left: 10%;
  font-size: 14px;
}
.dropdown-avatar #drop_u1:hover{
  color: #168200;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #EAEAEB;
}
.dropdown-avatar #drop_u2:hover{
  color: #cc0000;
  text-decoration: none;
  display: block;
  border-top: 1px solid #EAEAEB;
}
/*--------avatar.end--------*/
/*--------identitas.start--------*/
.identitas{
  height: 100%;
  position: absolute;
  top: 0px;
  left:80px;
}
.identitas h5{
  text-align: justify;
  font-size: 16px;
  overflow: hidden;
  color: #004b4b;
}
/*--------identitas.end--------*/
/*---------------------------USER.END-------------------------*/

/*============================================================================*/
/*-----------------------------------NAVIGATION-------------------------------*/
/*============================================================================*/
.navigation{
  background: #46c6cb;
  border-top: 10px solid #edeeee;
  width: 100%;
  font-size: 26px;
  color: #fff;
  padding: 0;
}
#home-icon{
  color: #fff;
  padding-left: 30px;
}
#home-icon:hover{
  color: #2ef2ff;
}
/*============================================================================*/
/*-----------------------------------SIDEBAR----------------------------------*/
/*============================================================================*/
.sidebar{
  padding: 0px;
  background: #fff;
  border-right: 10px solid #edeeee;
  border-top: 10px solid #edeeee;
}
.toggle h3{
  margin: 0;
  padding: 7px 0 0 0;
  border: 0px;
  font-size: 25px;
  text-align: center;
  color: #004b4b;
}
#name{
  word-spacing: 10px;
}
#role-text{
  word-spacing: 69px;
}
.sidebar li {
  list-style: none;
  width: 100%;
  font-size: 100%;

}
.sidebar li a {
  display: block;
  line-height: 40px;
  text-decoration: none;
  color: #00524f;
  padding-left: 30px;
  font-size: 14px;
}
.sidebar li a:hover{
  text-decoration: none;
  color: #fff;
}
#sid_1:hover{
  background: #0038ff;
}
#sid_2:hover {
  background: #6a003f;
}
#sid_3:hover {
  background: #cc0000;
}
#sid_4:hover {
  background: #00f919;
}
#sid_5:hover {
  background: #adff00;
}
#sid_6:hover {
  background: #14dbb1;
}
#sid_7:hover {
  background: #004545;
}
/*--------dropdown-produk.start--------*/
.dropdown-content {
  display: none;
  position: absolute;
  left: 100%;
  width: 200px;
  top:0%;
  border-radius: 2%;
  border-top-left-radius: 0%;
  border-top: 4px solid #cc0000;
  background-color: #fff;
  box-shadow: 3px 3px 3px 3px rgba(70, 198, 203, 0.34);;
  z-index: 1;
}
.dropdown:hover #sid_3 {
  background-color: #cc0000;
  color: #fff;
}
.dropdown-content #drop_p1:hover{
  color: #cc0000;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #EAEAEB;
}
.dropdown-content #drop_p2:hover{
  color: #cc0000;
  text-decoration: none;
  display: block;
  border-top: 1px solid #EAEAEB;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/*--------dropdown-produk.end--------*/
/*============================================================================*/
/*-----------------------------------CONTENT----------------------------------*/
/*============================================================================*/
.content{
  height: 80vh;
  background: #fff;
  border-top: 10px solid #edeeee;
}


/*==============================under construction============================*/
/*-----------------------------------HAMBURGER--------------------------------*/
/*============================================================================*/
.toggle{
  height: 40px;
  border-bottom: 1px solid #EAEAEB;
}
.toggle .fa{
  padding: 0;
  margin: -30px 15px 0 0;
  font-size: 24px;
  text-align: center;
  line-height: 30px;
  display: none;
  width: 30px;
  float: right;
  color: #004b4b;
  border: 1px solid #EAEAEB;
}
.icon-ublok{
  width: 15%;
  height: 100%;
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 991px) {
   .dropdown-content{
    position: static;
    width: 100%;
    text-indent: 30%;
    box-shadow: 3px 3px 3px 3px rgba(70, 198, 203, 0.34);;
    z-index: 1;
  }
  .sidebar{
    border: 0;
  }
  .toggle .fa{
    display: block;
    cursor: pointer;
  }
  .sidebar ul{
    width: 100%;
    display: none;
  }
  .sidebar ul li{
    width: 100%;
    text-indent: 16%;
    overflow-x:inline;
  }
  .sidebar li a{
    display: block;
    border-bottom: 1px solid #EAEAEB;
    padding-left: 10%;
  }
  .header .user h5{
    display: none;
  }
  .toggle .fa:hover{
    color: #0017da;
  }
  .judul h1{
    font-size: 36px;
    height: 36px;
    padding: 0;
    margin-top: 15px;
    padding-left: 30px;
  }
  .sidebar .active{
    display: block;
  }
  .dropdown-avatar{
    left: -50px;
    width: 100px;
  }

}
/*hamburger end*/
