*{
  margin:0px;
  padding: 0px;
  font-family: sans-serif;
}

body{
  background: #60feee;
}

.header{
    background: #00c4a8;
    height: 60px;
}

.header .logo{
  height: 100%;
}

.header .judul{
  height: 100%;
  color: #fff;
  text-align: center;
}

.header .user{
  height: 100%;
  text-align: center;
  color: #fff;
}

/* Sidebar Styles */
.sidebar{
  margin-top: 20px;
}

.sidebar-nav li {
  list-style: none;
  width: 100%;
  text-indent:35%;
  font-size: 100%;
}

.sidebar-nav li a {
  display: block;
  line-height: 300%;
  text-decoration: none;
  color: #000;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: #006a6a;
}
/*sidebar style end*/

.content{
  margin-top: 20px;
  height: 500px
}
