/*dropdown*/
.dropbtn {
  background-color: white;
  color: #00524f;
  font-size: 16px;
  border: none;
  cursor: pointer;
} 

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  left:100%;
  top:0%;
  background-color: #f9f9f9;
  min-width: 60px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1 ;

}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #037e83;
}	
/*dropdown buat user icon*/
.dropbtn-user {
  background-color: white;
  color: #00524f;
  font-size: 16px;
  border: n one;
  cursor: pointer;
} 

.dropdown-user {
  position: relative;
  display: inline-block;
}

.dropdown-content-user {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 60px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top:80%;
}

.dropdown-content-user d {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content-user d:hover {
  background-color: #f1f1f1 ;
  cursor: pointer;
}

.dropdown-user:hover .dropdown-content-user {
  display: block;
}

.dropdown-user:hover .dropbtn-user {
  background-color: #037e83;
}	
/* dropdown kelar */
.user_icon{
  width: 65px;
  height: 65px;
  float: left;
  padding: 6px;
  margin: 0px;
}
.admin_info{
  position: absolute;
  bottom: 0.5px;
  left: 50px;
  top: 1px;

}
*{
  margin:0px;
  padding: 0px;
  font-family: sans-serif;
}

body{
  background: #edeeee;
  margin: 0;
  padding: 0;
}

.header{
    background: #fff;
    height: 70px;
    border-top: 10px solid #edeeee;
}

.header .logo{
  height: 100%;
  text-align: center;
  padding: 5px;
  margin: 0px;

}

.header .icon-user{
  height: 100%;
  float: left;
  padding: 6px;
  margin: 0px;
  font-size: 48px;
  color: #037e83;
  cursor: pointer;
}

.judul h1{
  height: 100%;
  color: #004b4b;
  text-align: center;
  font-size: 45px;
  margin: 0;
  padding: 5px 0 0 0;
}

.header .user{
  height: 100%;
}

.header .user h5{
  text-align: justify;
  font-size: 16px;
  overflow: hidden;
  color: #004b4b;
  padding-left: 50px;
}

/*Navigation*/
.navigation{
  height: 40px;
  background: #46c6cb;
  margin: 0;
  padding: 0 2px 0 45px;
  border-top: 10px solid #edeeee;

  font-size: 26px;
  color: #fff;
}
#home-icon{
  color: #fff;
}
#home-icon:hover{
  color: #2ef2ff;
}

/* Sidebar Styles */
.sidebar{
  height: 510px;
  padding: 0px;
  background: #fff;
  border-right: 10px solid #edeeee;
  border-top: 10px solid #edeeee;
}

.menu h3{
  margin: 0;
  padding: 7px 0 0 0;
  border: 0px;
  font-size: 25px;
  text-align: center;
}

#name{
  word-spacing: 10px;
}

#role-text{
  word-spacing: 69px;
}

.sidebar-nav li {
  list-style: none;
  width: 100%;
  font-size: 100%;

}

.sidebar-nav li a {
  display: block;
  line-height: 40px;
  text-decoration: none;
  color: #00524f;
  padding-left: 30px;
  font-size: 14px;
}
.nav1{
  color: #808dff;
}

.sidebar-nav li a:hover{
  text-decoration: none;
  color: #fff;
}

#nav_1:hover{
  background: #0038ff;
}
#nav_3:hover {
  background: #cc0000;
}

#nav_4:hover {
  background: #00f919;
}

#nav_5:hover {
  background: #adff00;
}

#nav_6:hover {
  background: #ff8f0b;
}

#nav_7:hover {
  background: #004545;
}
/*Content*/
.content{
  height: 510px;
  background: #fff;
  border-left: 10px solid #edeeee;
  border-top: 10px solid #edeeee;
}
/*end of content*/

/*Sidebar hamberger*/
.menu{
  height: 40px;
  border-bottom: 1px solid #EAEAEB;
}
label{
  margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}

#toggle{
  display: none;
}

@media only screen and (max-width: 991px) {
  label{
    display: block;
    cursor: pointer;
  }
  .sidebar{
    margin-top: 10px;
    height: 373px;
  }
  .sidebar-nav{
    text-align: center;
    width: 100%;
    display: block;
  }
  .sidebar-nav a{
    display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
  }
  #toggle:checked + .sidebar-nav {
        display: block;
    }
  .header .user h5{
    display: none;
  } 
/*sidebar style end*/
}